@import 'src/theme/colors'

.experienceContainer
  position: relative

  .experience
    padding: 6rem 8rem
    color: $purple6

    >*:not(:last-child)
      margin-bottom: 3rem

    h3,p
      line-height: 2rem

    h3
      font-size: 1.3rem
      font-weight: 600

    p
      font-size: 1rem

    .experienceItems
      display: flex
      flex-direction: column
      gap: 1.5rem