@import "src/theme/colors"

.template
  display: flex

  &.ltr
    direction: ltr

  &.rtl
    direction: rtl

  &.pink
    --titleContainerBg: #{$pink}
    --childrenContainerBg: #{$white}

  &.darkPurple
    --titleContainerBg: #{$purple2}
    --childrenContainerBg: #{$purple4}

  &.lightPurple
    --titleContainerBg: #{$purple3}
    --childrenContainerBg: #{$purple5}

  .titleContainer
    background-color: var(--titleContainerBg)
    flex: 1
    display: flex
    justify-content: center
    align-items: center

    .title
      font-size: 3.3rem
      font-weight: 300
      letter-spacing: -.2rem

  .childrenContainer
    background-color: var(--childrenContainerBg)
    flex: 2