.template
  display: flex

  &.ltr
    flex-direction: row

  &.rtl
    flex-direction: row-reverse

  &.pink
    --titleContainerBg: #{$primary1}
    --childrenContainerBg: #{$primaryText}

  &.darkPurple
    --titleContainerBg: #{$primary2}
    --childrenContainerBg: #{$secondary2}

  &.lightPurple
    --titleContainerBg: #{$primary3}
    --childrenContainerBg: #{$secondary3}

  .titleContainer
    background-color: var(--titleContainerBg)
    flex: 1
    display: flex
    justify-content: center
    align-items: center

    .title
      font-size: 3.3rem
      font-weight: 300
      letter-spacing: -.2rem

  .childrenContainer
    background-color: var(--childrenContainerBg)
    flex: 2