
.sidebar
  position: fixed
  top: 4rem
  right: -40%
  padding: 3rem 7.3rem 3rem 3rem
  z-index: 1
  height: 100vh
  background-color: $purple1
  transition: .35s

  .list
    display: flex
    list-style: none
    flex-direction: column
    margin-right: 2rem
    gap: 2rem

    li
      a
        text-decoration: none
        color: $white
        font-weight: 500
        transition: .3s

        &:hover
          color: $pink

        &.active
          color: $pink

.sidebar.open
  right: 0

@media screen and (min-width: 1300px)
  .sidebar
    right: 0
    left: 0
    top: -10%
    height: auto
    padding: 2rem

    .list
      flex-direction: row
      justify-content: center

  .sidebar.open
    top: 0
