\:root
  --black: #000
  --white: #fff
  --purple1: #171321
  --purple2: #362f47
  --purple3: #7e5a7b
  --purple4: #eae0e9
  --purple5: #f8f3f7
  --purple6: #605777
  --pink: #f393a4
  --pinkDarker : #{darken(#f393a4,12%)}
  --green: #46b450
  --red: #bb1d3b


$black: var(--black)
$white: var(--white)

$purple1: var(--purple1)
$purple2: var(--purple2)
$purple3: var(--purple3)
$purple4: var(--purple4)
$purple5: var(--purple5)
$purple6: var(--purple6)

$pink: var(--pink)
$pinkDarken: var(--pinkDarker)

$green: var(--green)
$red: var(--red)