.skillsContainer
  position: relative

  .skills
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 1.6rem
    padding: 6rem 8rem

  img.circleAnimatedShapes
    position: absolute
    right: -5rem
    bottom: 6rem
    width: 9rem
    height: 6rem
    object-fit: contain
    animation: 2.3s circleShapeAnimate infinite ease-out

  img.zigzagAnimatedShapes
    position: absolute
    left: 19rem
    bottom: 2rem
    width: 9rem
    height: 2rem
    object-fit: contain
    animation: 2.3s zigzagShapeAnimate infinite ease-out

@keyframes circleShapeAnimate
  0%
    bottom: 6rem
  50%
    bottom: 10rem
  100%
    bottom: 6rem

@keyframes zigzagShapeAnimate
  0%
    left: 19rem
  50%
    left: 22rem
  100%
    left: 19rem