header
  position: fixed
  top: 0
  right: 0
  left: 0
  background-color: #171321
  padding: 1.3rem
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: none
  overflow: hidden
  z-index: 2

  span.logo
    font-weight: 700
    font-size: 1.1rem
    text-transform: uppercase
    letter-spacing: .4rem

  .hamburgerIcon
    width: 2rem
    height: 1.5rem
    position: relative
    cursor: pointer

    .line
      background-color: white
      position: absolute
      height: .2rem
      transition: .35s

    .line1
      top: 0
      width: 85%

    .line2
      top: calc(50% - .1rem)
      width: 60%

    .line3
      top: calc(100% - .2rem)
      width: 100%

  .hamburgerIcon:hover
    .line
      width: 100%

  .socialMedias
    position: absolute
    display: flex
    align-items: center
    gap: 1.8rem
    font-size: .8rem
    transition: .35s
    right: -40%

    a
      color: white
      text-decoration: none
      text-transform: uppercase
      letter-spacing: .4rem

header.open
  .hamburgerIcon
    .line1,
    .line3
      top: 40%
      width: 100%

    .line1
      transform: rotate(45deg)

    .line2
      opacity: 0

    .line3
      transform: rotate(-45deg)

  .socialMedias
    right: 8%

@media screen and (min-width: 1300px)
  header
    flex-direction: column
    align-items: end
    justify-content: start
    gap: 3rem
    padding: 2rem 1.3rem
    right: unset
    bottom: 0
    width: 5rem

    span.logo
      white-space: nowrap
      order: 2
      transform: rotate(-90deg) translate(-6rem,5.7rem)

    .hamburgerIcon
      order: 1

    .socialMedias
      position: static
      order: 3
      transition: unset
      transform: rotate(-90deg) translate(-15rem,2rem)