header
  position: fixed
  top: 0
  right: 0
  left: 0
  background-color: $primaryBg
  padding: 1.3rem
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: none
  overflow: hidden
  z-index: 2

  &.open
    .socialMedias
      right: 8.3rem

  span.logo
    font-weight: 700
    font-size: 1.1rem
    text-transform: uppercase
    letter-spacing: .4rem
    visibility: visible
    opacity: 1

  .wrapper
    display: flex
    align-items: center
    gap: 1.2rem

    .icon
      font-size: 1.8rem
      cursor: pointer

  .socialMedias
    position: absolute
    display: flex
    align-items: center
    gap: 1.8rem
    font-size: .8rem
    transition: .35s
    right: -100%

    a
      color: $primaryText
      text-decoration: none
      text-transform: uppercase
      letter-spacing: .4rem
      transition: .35s

      &:hover
        color: $primary1

@media screen and (min-width: 1300px)
  header
    flex-direction: column
    align-items: end
    justify-content: start
    gap: 3rem
    padding: 2rem 1.3rem
    right: unset
    bottom: 0
    width: 5rem

    span.logo
      white-space: nowrap
      order: 2
      transform: rotate(-90deg) translate(-6rem, 5.7rem)

    .wrapper
      justify-content: center
      flex-direction: column-reverse
      gap: 1.8rem
      order: 1

    .socialMedias
      position: static
      order: 3
      transition: unset
      transform: rotate(-90deg) translate(-15rem, 2rem)

@media screen and (max-width: 570px)
  header
    &.open
      span.logo
        visibility: hidden
        opacity: 0

@media screen and (max-width: 410px)
  header
    padding: .7rem 1rem

    span.logo
      font-size: .9rem

    .wrapper
      gap: .7rem

      .icon
        font-size: 1.4rem