@import "fonts"

*
  padding: 0
  margin: 0
  box-sizing: border-box
  user-select: none

body
  font-family: montserrat
  background-color: $purple1
  color: $white
  overflow-x: hidden

  //TODO: add colors and change names

  //&[data-theme = 'light']
  //  --black: #000
  //  --white: #fff
  //  --purple1: #171321
  //  --purple2: #362f47
  //  --purple3: #7e5a7b
  //  --purple4: #eae0e9
  //  --purple5: #f8f3f7
  //  --purple6: #605777
  //  --pink: #f393a4
  //  --pinkDarker : #{darken(#f393a4,12%)}
  //  --green: #46b450
  //  --red: #bb1d3b



